# IntelliJ/PyCharm
.idea/

# Project files
*.iml

# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Conda & Virtualenv
.env/
.venv/
env/
venv/
*.env
*.conda
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# VSCode (추가로 VSCode 사용할 경우)
.vscode/

# OS
.DS_Store
Thumbs.db